{% from "macros/macros.html" import show_all_flash_messages %}

<!-- Dziedziczenia stron -->
{% extends "templates/base.html" %}

<!-- Wypelnienie tytulu-->
{% block title %}
Logowanie do edytora
{% endblock %}

{% block content %}
<script src="{{url_for('static', filename='js/ckeditor/ckeditor.js')}}"></script>
<form method="post">
    <!-- Miejsce na treść pobraną z bazy danych -->
    <textarea name="ckeditor" id="ckeditor" rows="10" cols="80">
        {{ file_content }}
    </textarea>

    <!-- Skrypt CKEditor -->
    <script>
        // Pobierz treść z bazy danych (możesz użyć wstawiania kodu w Pythonie)
        var contentFromDatabase = "{{ file_content }}";

        // Zastąp <textarea> CKEditorem
        CKEDITOR.replace('ckeditor', {
            // Konfiguracja CKEditor, jeśli potrzebujesz
        }).setData(contentFromDatabase); // Ustawienie danych z bazy danych
    </script>

    <!-- Przycisk submit -->
    <input type="submit">
</form>

<!-- Importuj CKEditor -->
<script src="{{url_for('static', filename='js/ckeditor/ckeditor.js')}}"></script>


<div class="container">
buttony goes here
</div>
{% endblock %} 