<!-- Dziedziczenia stron -->
{% extends "templates/base.html" %}

<!-- Wypełnienie tytułu -->
{% block title %}
    Edytor
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>
<form method="post" action="{{ url_for('save_changes') }}">
    <!-- Pole tekstowe dla nazwy pliku, jeśli dostępne sloty są większe niż 0 -->
    {% if available_slots > 0 %}
        <label for="file_name">Nazwa pliku:</label>
        <input type="text" name="file_name" id="file_name" value="{{ file_name }}">
        <br>
    {% endif %}

    <!-- Dane z bazy danych wczytane do edytora -->
    <textarea name="ckeditor" id="ckeditor" rows="10" cols="80">{{ file_binary_content|safe }}</textarea>

    <!-- Skrypt CKEditor -->
    <script>
        // Pobierz treść z bazy danych
        var contentFromDatabase = "{{ file_binary_content|safe }}";

        // Stwórz pusty obiekt, jeśli treść jest równa 'None'
        contentFromDatabase = contentFromDatabase === 'None' ? '' : contentFromDatabase;

        CKEDITOR.replace('ckeditor', {
            // Konfiguracja CKEditor
        }).setData(contentFromDatabase); // Ustawienie danych z bazy danych
    </script>

    <!-- Przycisk submit -->
    <input type="submit" value="Zapisz zmiany">

    <!-- Ukryte pole dla nazwy pliku, jeśli jest dostępne -->
    {% if available_slots > 0 %}
        <input type="hidden" name="file_name" value="{{ file_name }}">
    {% endif %}

    <!-- Ukryte pole dla file_id -->
    <input type="hidden" name="file_id" value="{{ file_id }}">
</form>

{% endblock %}
